.blue-bkg {
    background-color: blue;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

.centered {
    margin: auto auto;
    width: 100px;
}

#triangle-up {
    width: 0;
    height: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 200px solid red;
    opacity: 0.7;
}

.point-of-view {
    width: 500px;

    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
    
    -webkit-perspective-origin: 50% 150%;
    -moz-perspective-origin: 50% 150%;
    -o-perspective-origin: 50% 150%;
    -ms-perspective-origin: 50% 150%;
    perspective-origin: 50% 150%;
}

.spinning {
    -webkit-animation:rotate 4s linear infinite;
    -moz-animation:rotate 4s linear infinite;
    animation:rotate 4s linear infinite;
}

@-moz-keyframes rotate { 100% { -moz-transform: rotateY(360deg); } }
@-webkit-keyframes rotate { 100% { -webkit-transform: rotateY(360deg); } }
@keyframes rotate { 100% { -webkit-transform: rotateY(360deg); transform:rotateY(360deg); } }

.pyramid, .pyramid-outer, .pyramid-inner {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.pyramid {
    width: 200;
    height: 200px;
    position: absolute;
}

.pyramid-outer {
    -webkit-transform: translate3d(200px, 77px, 0);
}

/* FACES */

.pyramid-base, .pyramid-face {
    opacity: 0.5;
    position: absolute;
}

.pyramid-base {
    width: 100px;
    height: 100px;
    background-color: #ff0000;
    //background-image: url(http://romanliutikov.com/lab/css3-3d-primitives/img.png);

    -webkit-transform: rotateX(90deg) translate3d(0, 0, -23px);
    -moz-transform: rotateX(90deg) translate3d(0, 0, -23px);
    -o-transform: rotateX(90deg) translate3d(0, 0, -23px);
    -ms-transform: rotateX(90deg) translate3d(0, 0, -23px);
    transform: rotateX(90deg) translate3d(0, 0, -23px);
}

.pyramid-face {
    width:0;
    height:0;
    border-left:50px solid transparent;
    border-right:50px solid transparent;

    -webkit-transform-origin: 50% 87%;
    -moz-transform-origin: 50% 87%;
    -o-transform-origin: 50% 87%;
    -ms-transform-origin: 50% 87%;
    transform-origin: 50% 87%;
}

.pyramid-face:nth-child(2) {
    border-bottom:100px solid #e04545;

    -webkit-transform: rotateX(30deg) translate3d(0, 0, 50px);
    -moz-transform: rotateX(30deg) translate3d(0, 0, 50px);
    -o-transform: rotateX(30deg) translate3d(0, 0, 50px);
    -ms-transform: rotateX(30deg) translate3d(0, 0, 50px);
    transform: rotateX(30deg) translate3d(0, 0, 50px);
}

.pyramid-face:nth-child(3) {
    border-bottom:100px solid #ccaf5a;

    -webkit-transform: rotateY(90deg) rotateX(-30deg) translate3d(0, 0, -50px);
    -moz-transform: rotateY(90deg) rotateX(-30deg) translate3d(0, 0, -50px);
    -o-transform: rotateY(90deg) rotateX(-30deg) translate3d(0, 0, -50px);
    -ms-transform: rotateY(90deg) rotateX(-30deg) translate3d(0, 0, -50px);
    transform: rotateY(90deg) rotateX(-30deg) translate3d(0, 0, -50px);
}

.pyramid-face:nth-child(4) {
    border-bottom:100px solid #97c25f;

    -webkit-transform: rotateY(90deg) rotateX(30deg) translate3d(0, 0, 50px);
    -moz-transform: rotateY(90deg) rotateX(30deg) translate3d(0, 0, 50px);
    -o-transform: rotateY(90deg) rotateX(30deg) translate3d(0, 0, 50px);
    -ms-transform: rotateY(90deg) rotateX(30deg) translate3d(0, 0, 50px);
    transform: rotateY(90deg) rotateX(30deg) translate3d(0, 0, 50px);
}

.pyramid-face:nth-child(5) {
    border-bottom:100px solid #4ccfc8;

    -webkit-transform: rotateX(-30deg) translate3d(0, 0, -50px);
    -moz-transform: rotateX(-30deg) translate3d(0, 0, -50px);
    -o-transform: rotateX(-30deg) translate3d(0, 0, -50px);
    -ms-transform: rotateX(-30deg) translate3d(0, 0, -50px);
    transform: rotateX(-30deg) translate3d(0, 0, -50px);
}
